* {
box-sizing: border-box;  
}

body {
	background-image: url(../img/img1.jpeg);
	background-size: cover;
  	background-attachment: fixed;
	background-color: silver;
	font-family: 'Quicksand', sans-serif;
}

/************* HEADER *************/
#header {
	position: fixed;
	border-radius: 0;
	border: 0;
	width: 100%;
	background-color: rgba(237, 237, 242, 0.9);

}
nav {
	z-index: 1;
}
nav a{
	color: #34383f;
}
nav a:link, nav a:hover {
	color: grey;
	text-decoration: none;	
}
ul {
	list-style: none;
}
h4 {
	font-size: 1.5em;
	text-align: center;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
h5 {
	font-size: 1.2em;
}
/************* Home *************/
.jumbotron {
	background-color: transparent;
	padding-top: 35%;
	color: rgb(237, 237, 242);
}

/************* About *************/
#about {
	background-color: white;
	/*height: 400px;*/
}
#about .row {
	margin-bottom: 3em;
}
#story, #skills {
	padding-left: 5%;
	padding-right: 5%;
}
.progress-bar {
  background-color: #99b6e5;
}

/************* Portfolio *************/
#portfolio {
	background-color: grey;
}
#portfolio .row {
	margin-bottom: 3em;
}

/************* Resume *************/
#resume {
	background-color: rgba(21, 24, 28, 0.5);
	width: 100%;
	color: white;
	padding-bottom: 2em;
}
.studies {
	padding-left: 4rem;
}

#contact {
	padding-top: 3em;
	padding-bottom: 3em;
}
/************* FOOTER *************/
.panel-footer {
	padding-bottom: 0;
	padding-top: 0;
	height: 1em;
	background-color: #222;
	border-top: 0;  
	color: silver;
	font-size: .8em;
}